h1 {
  color: blueviolet;
}
p {
  color: rgb(19, 107, 78);
  font-family: "Courier New", Courier, monospace;
}
#header1 {
  color: green;
  text-decoration-line: underline;
  text-decoration-color: red;
  text-decoration-style: solid;
  text-decoration-thickness: 5px;
}
.header1 {
  color: orange;
  text-transform: capitalize;
}
p.intro {
  color: red;
  font-size: 12px;
}
